.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-allign: center;
}

button{
	padding: 10px 20px;
	background-color: aquamarine;
	color: black;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}
button:hover {
	background-color: black;
}